* {
    box-sizing: border-box;
}
    
    
    
body {
    width: 960px;
    height: auto;
    margin: 30px;
    background-color: lightblue;
}

/* #search{

    padding-right: 50px;
} */

.container{





}


#buttons {

    padding: 50px;
    margin: 20px;

}

