
main > .container {
    padding: 60px 15px 0;
  }

nav {
    background-image: url(../images/Emojis-Faces-White-Background-Promo.jpg.1080x0_q100_crop-scale.jpg);
}  

.navbar-brand {
    color: #666 !important;
    border-radius: 5px;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 3px;
}
  
  .footer {
    color: #666;
    background-image: url(../images/Emojis-Faces-White-Background-Promo.jpg.1080x0_q100_crop-scale.jpg);
    text-align: center;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  #buttons {
      text-align: center;
  }
  #instructions {
      text-align: center;
      margin: 5px;
  }
  #buttons button {
      margin-left: 3px;
      margin-bottom: 5px;
  }

