* {
    box-sizing: border-box;
}
    
    
    
body {
    width: 960px;
    height: auto;
    margin: 30px;
    /*background-color: lightblue;*/
    background-image: url(../images/facebook-reactions.0.0.jpg);
}

#header {
    width: 100%;
    background-color: lightcoral;
    text-align: center;
} 

.container{





}


#buttons {

    padding: 50px;
    margin: 20px;

}

